*.*~
*.pdf
twitterAuthentication.txt
toaesWebscrape/*.txt
toaesWebscrape/*.html
toaesWebscrape/*.pyc
MLBAnalysis/baseballDatabank/*
MLBAnalysis/img/*
otherPeoplesExamples/*
chicagoCrimes2016/crimesByNeighborhood/*
chicagoCrimes2016/*.csv
imageFlattener/img/*
